/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Slabo+27px|Work+Sans:400,900";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #container:after {
    content: " ";
    display: block;
    clear: both; }

.consumerContainer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .consumerContainer .sidebar {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
    margin: 0; }
  .consumerContainer .consumerGrid {
    width: 74.35897%;
    float: left;
    margin-right: 2.5641%; }
    .consumerContainer .consumerGrid .itemGrid {
      width: 23.07692%;
      float: left;
      margin-right: 2.5641%; }
    .consumerContainer .consumerGrid .productImage {
      width: 35.89744%;
      float: left;
      margin-right: 2.5641%; }
    .consumerContainer .consumerGrid .productDetails {
      width: 35.89744%;
      float: left;
      margin-right: 2.5641%; }

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }

.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: white; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
  content: ""; }

.c-hamburger span::before {
  top: -20px; }

.c-hamburger span::after {
  bottom: -20px; }

.c-hamburger--htx {
  background-color: #3a4ed5; }

.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform; }

.c-hamburger--htx.is-active {
  background-color: #3366B1; }

.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s; }

.c-hamburger--htla {
  background-color: #3a4ed5; }

.c-hamburger--htla span {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.c-hamburger--htla span::before {
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
  transition: transform 0.3s, width 0.3s, top 0.3s; }

.c-hamburger--htla span::after {
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
  transition: transform 0.3s, width 0.3s, bottom 0.3s; }

.c-hamburger--htla.is-active {
  background-color: #3366B1; }

.c-hamburger--htla.is-active span {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%; }

.c-hamburger--htla.is-active span::before {
  top: 0;
  -webkit-transform: translateX(38px) translateY(4px) rotate(45deg);
  -ms-transform: translateX(38px) translateY(4px) rotate(45deg);
  transform: translateX(38px) translateY(4px) rotate(45deg); }

.c-hamburger--htla.is-active span::after {
  bottom: 0;
  -webkit-transform: translateX(38px) translateY(-4px) rotate(-45deg);
  -ms-transform: translateX(38px) translateY(-4px) rotate(-45deg);
  transform: translateX(38px) translateY(-4px) rotate(-45deg); }

button {
  background: #3366B1;
  border: 2px solid #3366B1;
  border-radius: 20px;
  padding: 10px;
  color: #FFF;
  letter-spacing: 1px;
  text-transform: uppercase; }

button:hover {
  background: #FFF;
  border: 2px solid #3366B1;
  border-radius: 20px;
  color: #3366B1; }

button:focus {
  outline: 0; }

.sidebar button:hover {
  background: #DDDDDD;
  border: 2px solid #3366B1;
  border-radius: 20px;
  color: #3366B1; }

.consumerContainer .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 1000px;
  padding: 5em 1em 1em;
  background: #2D7D8F;
  background: -webkit-linear-gradient(45deg, #3a4ed5, #2D7D8F);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(45deg, #3a4ed5, #2D7D8F);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(45deg, #3a4ed5, #2D7D8F);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(45deg, #3a4ed5, #2D7D8F);
  /* Standard syntax */
  text-align: center; }
  .consumerContainer .sidebar #logo {
    font-family: "Slabo 27px", serif;
    color: #DDDDDD;
    font-size: 10em;
    text-align: center;
    letter-spacing: -20px; }
  .consumerContainer .sidebar #search {
    margin: auto;
    margin-top: 3em;
    text-align: center; }
  .consumerContainer .sidebar .categories {
    padding: 2em 0 4em 2.5em;
    font-family: "Slabo 27px", serif;
    font-size: 2em;
    line-height: 1.5em;
    text-align: left; }
    .consumerContainer .sidebar .categories a {
      color: #FFF; }
    .consumerContainer .sidebar .categories a:hover {
      color: #3a4ed5; }
  .consumerContainer .sidebar .cart {
    background: #DDDDDD;
    border: 2px solid #DDDDDD;
    border-radius: 6px;
    height: 8em;
    margin: 0 2em 1em 2em;
    padding: 2em;
    color: #3a4ed5;
    text-align: left;
    letter-spacing: 1px; }

body {
  background: #DDDDDD;
  font-family: "Work Sans", sans-serif;
  color: #2D7D8F;
  font-weight: 400; }

a {
  color: #2D7D8F;
  text-decoration: none; }

a:hover {
  color: #FA5555;
  text-decoration: none; }

.viewsContainer {
  margin-top: 10em; }
  .viewsContainer .box {
    width: 250px;
    height: 250px;
    margin: auto;
    padding: 1em;
    background: #DDDDDD;
    border: 10px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #2D7D8F 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #2D7D8F 0%, #3a4ed5 100%);
    border-image: linear-gradient(to bottom right, #2D7D8F 0%, #3a4ed5 100%);
    border-image-slice: 1; }
  .viewsContainer .adminView {
    float: left;
    width: 50%;
    background: #DDDDDD;
    margin-top: 60px;
    font-family: "Slabo 27px", serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 4em;
    border-right: 2px solid #2D7D8F; }
  .viewsContainer .consumerView {
    float: right;
    width: 50%;
    margin-top: 60px;
    background: #DDDDDD;
    font-family: "Slabo 27px", serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 4em; }

body {
  background: #DDDDDD;
  font-family: "Work Sans", sans-serif;
  color: #2D7D8F;
  font-weight: 400; }

a {
  color: #2D7D8F;
  text-decoration: none; }

a:hover {
  color: #FA5555;
  text-decoration: none; }

body {
  background: #DDDDDD;
  font-family: "Work Sans", sans-serif;
  color: #2D7D8F;
  font-weight: 400; }

a {
  color: #2D7D8F;
  text-decoration: none; }

a:hover {
  color: #FA5555;
  text-decoration: none; }

.consumerGrid {
  position: relative;
  top: 0;
  left: 160px;
  padding: 5em 3em 1em 20em;
  margin: 0; }
  .consumerGrid .itemGrid {
    background: #FFF;
    border: 2px solid #FFF;
    border-radius: 5px;
    width: 14em;
    margin: 1em;
    padding: 1em;
    text-align: center; }
    .consumerGrid .itemGrid span {
      font-family: "Slabo 27px", serif;
      font-size: 10em;
      color: #393E46; }
    .consumerGrid .itemGrid .a:hover {
      color: #E42F45; }
    .consumerGrid .itemGrid .eight:hover {
      color: #189dcc; }
    .consumerGrid .itemGrid .f:hover {
      color: #D5441C; }
    .consumerGrid .itemGrid .three:hover {
      color: #7ebf35; }
    .consumerGrid .itemGrid .c:hover {
      color: #35b9bf; }
    .consumerGrid .itemGrid .y:hover {
      color: #FDEA2E; }
    .consumerGrid .itemGrid h3 {
      padding: 4px;
      color: #2D7D8F;
      letter-spacing: 1px; }
    .consumerGrid .itemGrid h5 {
      padding-bottom: 8px;
      font-family: "Slabo 27px", serif;
      color: #2D7D8F;
      letter-spacing: 2px; }

body {
  background: #DDDDDD;
  font-family: "Work Sans", sans-serif;
  color: #2D7D8F;
  font-weight: 400; }

a {
  color: #2D7D8F;
  text-decoration: none; }

a:hover {
  color: #FA5555;
  text-decoration: none; }

.consumerGrid {
  position: relative;
  top: 0;
  left: 160px;
  padding: 5em 3em 1em 20em;
  margin: 0; }
  .consumerGrid .productImage {
    background: #FFF;
    border: 2px solid #FFF;
    border-radius: 5px;
    width: 12em;
    height: 18em;
    margin: 1em;
    padding: 1em;
    text-align: center; }
    .consumerGrid .productImage span {
      font-family: "Slabo 27px", serif;
      font-size: 16em; }
    .consumerGrid .productImage .a {
      color: #E42F45; }
  .consumerGrid .productDetails {
    margin-top: 2em; }
    .consumerGrid .productDetails h3 {
      color: #2D7D8F;
      letter-spacing: 1px; }
    .consumerGrid .productDetails h5 {
      font-family: "Slabo 27px", serif;
      color: #2D7D8F;
      letter-spacing: 2px; }
    .consumerGrid .productDetails button {
      background: #2D7D8F;
      border: 2px solid #2D7D8F;
      border-radius: 20px;
      margin-top: 10em;
      padding: 10px 50px 10px 50px;
      color: #FFF;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .consumerGrid .productDetails button:hover {
      background: #DDDDDD;
      border: 2px solid #2D7D8F;
      border-radius: 20px;
      color: #2D7D8F; }
    .consumerGrid .productDetails button:focus {
      outline: 0; }

body {
  background: #DDDDDD;
  font-family: "Work Sans", sans-serif;
  color: #2D7D8F;
  font-weight: 400; }

a {
  color: #2D7D8F;
  text-decoration: none; }

a:hover {
  color: #FA5555;
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
