/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Slabo+27px|Work+Sans:400,900";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #container:after {
    content: " ";
    display: block;
    clear: both; }

.consumerContainer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .consumerContainer .sidebar {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
    margin: 0; }
  .consumerContainer .consumerGrid {
    width: 74.35897%;
    float: left;
    margin-right: 2.5641%; }
    .consumerContainer .consumerGrid .itemGrid {
      width: 31.03448%;
      float: left;
      margin-right: 3.44828%; }
    .consumerContainer .consumerGrid .productImage {
      width: 35.89744%;
      float: left;
      margin-right: 2.5641%; }
    .consumerContainer .consumerGrid .productDetails {
      width: 35.89744%;
      float: left;
      margin-right: 2.5641%; }

.adminContainer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .adminContainer .sidebar {
    width: 10.25641%;
    float: left;
    margin-right: 2.5641%;
    margin: 0; }
  .adminContainer .adminGrid {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%; }
    .adminContainer .adminGrid .itemGrid {
      width: 44.44444%;
      float: left;
      margin-right: 11.11111%; }
    .adminContainer .adminGrid .productImage {
      width: 23.07692%;
      float: left;
      margin-right: 2.5641%; }
    .adminContainer .adminGrid .productDetails {
      width: 23.07692%;
      float: left;
      margin-right: 2.5641%; }

button {
  background: #3366B1;
  border: 2px solid #3366B1;
  border-radius: 20px;
  padding: 10px;
  color: #FFF;
  letter-spacing: 1px;
  text-transform: uppercase; }

button:hover {
  background: #FFF;
  border: 2px solid #3366B1;
  border-radius: 20px;
  color: #3366B1; }

button:focus {
  outline: 0; }

.sidebar button:hover {
  background: #DDDDDD;
  border: 2px solid #3366B1;
  border-radius: 20px;
  color: #3366B1; }

.consumerContainer .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 1000px;
  padding: 5em 1em 1em;
  background: #2D7D8F;
  background: -webkit-linear-gradient(45deg, #3a4ed5, #2D7D8F);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(45deg, #3a4ed5, #2D7D8F);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(45deg, #3a4ed5, #2D7D8F);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(45deg, #3a4ed5, #2D7D8F);
  /* Standard syntax */
  text-align: center; }
  .consumerContainer .sidebar #logo {
    font-family: "Slabo 27px", serif;
    color: #DDDDDD;
    font-size: 10em;
    text-align: center;
    letter-spacing: -20px; }
  .consumerContainer .sidebar .categories {
    padding: 3em 0 4em 1em;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    line-height: 1.5em;
    text-align: left; }
    .consumerContainer .sidebar .categories a {
      color: #DDDDDD; }
    .consumerContainer .sidebar .categories a:hover {
      color: #FA5555; }
  .consumerContainer .sidebar .cart {
    background: #DDDDDD;
    border: 2px solid #DDDDDD;
    border-radius: 6px;
    width: 85%;
    height: 8em;
    overflow: scroll;
    margin: 0 1em 1em 1em;
    padding: 1em;
    color: #3366B1;
    text-align: left;
    letter-spacing: 1px; }
    .consumerContainer .sidebar .cart p {
      padding-bottom: 10px; }
    .consumerContainer .sidebar .cart li {
      padding-bottom: 5px; }

.adminContainer .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 1000px;
  padding: 5em 1em 1em 1em;
  background: #2D7D8F;
  background: -webkit-linear-gradient(45deg, #3a4ed5, #2D7D8F);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(45deg, #3a4ed5, #2D7D8F);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(45deg, #3a4ed5, #2D7D8F);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(45deg, #3a4ed5, #2D7D8F);
  /* Standard syntax */
  text-align: center; }
  .adminContainer .sidebar #logo {
    font-family: "Slabo 27px", serif;
    color: #DDDDDD;
    font-size: 3em;
    text-align: center;
    letter-spacing: -5px; }
  .adminContainer .sidebar .dashboard {
    color: #DDDDDD; }
  .adminContainer .sidebar .categories {
    padding: 3em 0 4em 1em;
    font-family: "Slabo 27px", serif;
    font-size: 16px;
    line-height: 1.5em;
    text-align: left; }
    .adminContainer .sidebar .categories a {
      color: #FFF; }
    .adminContainer .sidebar .categories a:hover {
      color: #3a4ed5; }

body {
  background: #DDDDDD;
  font-family: "Work Sans", sans-serif;
  color: #2D7D8F;
  font-weight: 400; }

a {
  color: #2D7D8F;
  text-decoration: none; }

a:hover {
  color: #FA5555;
  text-decoration: none; }

.viewsContainer {
  margin-top: 10em; }
  .viewsContainer .box {
    width: 250px;
    height: 250px;
    margin: auto;
    padding: 1em;
    background: #DDDDDD;
    border: 10px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #2D7D8F 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #2D7D8F 0%, #3a4ed5 100%);
    border-image: linear-gradient(to bottom right, #2D7D8F 0%, #3a4ed5 100%);
    border-image-slice: 1; }
  .viewsContainer .adminView {
    float: left;
    width: 50%;
    background: #DDDDDD;
    margin-top: 60px;
    font-family: "Slabo 27px", serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 4em;
    border-right: 2px solid #2D7D8F; }
  .viewsContainer .consumerView {
    float: right;
    width: 50%;
    margin-top: 60px;
    background: #DDDDDD;
    font-family: "Slabo 27px", serif;
    letter-spacing: 2px;
    text-align: center;
    font-size: 4em; }

body {
  background: #DDDDDD;
  font-family: "Work Sans", sans-serif;
  color: #2D7D8F;
  font-weight: 400; }

a {
  color: #2D7D8F;
  text-decoration: none; }

a:hover {
  color: #FA5555;
  text-decoration: none; }

form {
  width: 70%;
  margin-top: 5%;
  padding-left: 15%; }

input {
  border: 2px solid #C2CFD8;
  border-radius: 5px;
  width: 50%;
  margin: 5px;
  padding: 5px;
  font-family: "Work Sans", sans-serif;
  font-size: 1em; }
  input .desc {
    height: 20%; }

.adminGrid {
  position: relative;
  top: 0;
  left: 160px;
  width: 80%;
  padding: 5em 3em 1em 4em;
  margin: 0; }
  .adminGrid .itemGrid {
    background: #FFF;
    border: 2px solid #FFF;
    border-radius: 5px;
    margin: 1em;
    padding: 2em;
    text-align: left; }
    .adminGrid .itemGrid span {
      font-family: "Slabo 27px", serif;
      font-size: 4em;
      color: #393E46; }
    .adminGrid .itemGrid .a:hover {
      color: #E42F45; }
    .adminGrid .itemGrid .eight:hover {
      color: #189dcc; }
    .adminGrid .itemGrid .f:hover {
      color: #D5441C; }
    .adminGrid .itemGrid .three:hover {
      color: #7ebf35; }
    .adminGrid .itemGrid .c:hover {
      color: #35b9bf; }
    .adminGrid .itemGrid .y:hover {
      color: #FDEA2E; }
    .adminGrid .itemGrid h3 {
      padding: 4px;
      color: #2D7D8F;
      letter-spacing: 1px;
      display: inline-block; }
    .adminGrid .itemGrid button {
      margin-left: 4em; }

.submit {
  background: #3366B1;
  border: 2px solid #3366B1;
  border-radius: 5px;
  padding: 10px;
  color: #FFF;
  letter-spacing: 1px;
  text-transform: uppercase; }

.submit:hover {
  background: #FFF;
  border: 2px solid #3366B1;
  border-radius: 5px;
  color: #3366B1; }

.submit:focus {
  outline: 0; }

body {
  background: #DDDDDD;
  font-family: "Work Sans", sans-serif;
  color: #2D7D8F;
  font-weight: 400; }

a {
  color: #2D7D8F;
  text-decoration: none; }

a:hover {
  color: #FA5555;
  text-decoration: none; }

.consumerGrid {
  position: relative;
  top: 0;
  left: 160px;
  padding: 5em 3em 1em 20em;
  margin: 0; }
  .consumerGrid .itemGrid {
    background: #FFF;
    border: 2px solid #FFF;
    border-radius: 5px;
    width: 15em;
    margin: 2em;
    padding: 1em;
    text-align: center;
    display: inline-block; }
    .consumerGrid .itemGrid span {
      font-family: "Slabo 27px", serif;
      font-size: 10em;
      color: #393E46; }
    .consumerGrid .itemGrid .a:hover {
      color: #E42F45; }
    .consumerGrid .itemGrid .eight:hover {
      color: #189dcc; }
    .consumerGrid .itemGrid .f:hover {
      color: #D5441C; }
    .consumerGrid .itemGrid .three:hover {
      color: #7ebf35; }
    .consumerGrid .itemGrid .c:hover {
      color: #35b9bf; }
    .consumerGrid .itemGrid .y:hover {
      color: #FDEA2E; }
    .consumerGrid .itemGrid h3 {
      padding: 4px;
      color: #2D7D8F;
      letter-spacing: 1px; }
    .consumerGrid .itemGrid h5 {
      padding-bottom: 8px;
      font-family: "Slabo 27px", serif;
      color: #2D7D8F;
      letter-spacing: 2px; }

body {
  background: #DDDDDD;
  font-family: "Work Sans", sans-serif;
  color: #2D7D8F;
  font-weight: 400; }

a {
  color: #2D7D8F;
  text-decoration: none; }

a:hover {
  color: #FA5555;
  text-decoration: none; }

.consumerGrid {
  position: relative;
  top: 0;
  left: 160px;
  padding: 5em 3em 1em 20em;
  margin: 0; }
  .consumerGrid .productImage {
    background: #FFF;
    border: 2px solid #FFF;
    border-radius: 5px;
    width: 12em;
    height: 18em;
    margin: 1em;
    padding: 1em;
    text-align: center; }
    .consumerGrid .productImage span {
      font-family: "Slabo 27px", serif;
      font-size: 16em; }
    .consumerGrid .productImage .a {
      color: #E42F45; }
  .consumerGrid .productDetails {
    margin-top: 2em; }
    .consumerGrid .productDetails h3 {
      color: #2D7D8F;
      letter-spacing: 1px; }
    .consumerGrid .productDetails h5 {
      font-family: "Slabo 27px", serif;
      color: #2D7D8F;
      letter-spacing: 2px; }
    .consumerGrid .productDetails button {
      background: #2D7D8F;
      border: 2px solid #2D7D8F;
      border-radius: 20px;
      margin-top: 10em;
      padding: 10px 50px 10px 50px;
      color: #FFF;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .consumerGrid .productDetails button:hover {
      background: #DDDDDD;
      border: 2px solid #2D7D8F;
      border-radius: 20px;
      color: #2D7D8F; }
    .consumerGrid .productDetails button:focus {
      outline: 0; }

body {
  background: #DDDDDD;
  font-family: "Work Sans", sans-serif;
  color: #2D7D8F;
  font-weight: 400; }

a {
  color: #2D7D8F;
  text-decoration: none; }

a:hover {
  color: #FA5555;
  text-decoration: none; }

.receiptGrid {
  position: relative;
  top: 0;
  left: 160px;
  width: 80%;
  padding: 5em 3em 1em 4em;
  margin: 0; }
  .receiptGrid .itemGrid {
    background: #FFF;
    border: 2px solid #FFF;
    border-radius: 5px;
    margin: 1em;
    padding: 2em;
    text-align: left; }
    .receiptGrid .itemGrid span {
      font-family: "Slabo 27px", serif;
      font-size: 4em;
      color: #393E46; }
    .receiptGrid .itemGrid .a:hover {
      color: #E42F45; }
    .receiptGrid .itemGrid .eight:hover {
      color: #189dcc; }
    .receiptGrid .itemGrid .f:hover {
      color: #D5441C; }
    .receiptGrid .itemGrid .three:hover {
      color: #7ebf35; }
    .receiptGrid .itemGrid .c:hover {
      color: #35b9bf; }
    .receiptGrid .itemGrid .y:hover {
      color: #FDEA2E; }
    .receiptGrid .itemGrid h3 {
      padding: 4px;
      color: #2D7D8F;
      letter-spacing: 1px;
      display: inline-block; }
    .receiptGrid .itemGrid button {
      margin-left: 4em; }

/*# sourceMappingURL=main.css.map */
