@import '../../bower_components/reset-css/_reset';
@import "../../bower_components/susy/sass/susy";
@import 'https://fonts.googleapis.com/css?family=Slabo+27px|Work+Sans:400,900';
$fa-font-path: "../../bower_components/font-awesome/fonts";


// Colors:
$teal: #2D7D8F;
$green: #8DED8E;
$red: #FA5555;
$darker-red: #c04242;
$yellow: #F7FB76;
$white: #DDDDDD;
$off-white: #FFEBBC;
$grey: #C2CFD8;
$dark-grey: #393E46;
$black: #222831;

// Fonts:
$display-font: 'Slabo 27px', serif;
$font: 'Work Sans', sans-serif;  // 400 or 900 weights

//----------------------------


$susy: (
  columns: 8,
  container: 100%,
  gutter: 0,
  global-box-sizing: border-box
);
@include border-box-sizing;

#container{
  @include container;
}

body{
  background: $white;
  font-family: $font;
  color: $teal;
  font-weight: 400;
}

a{
  color: $teal;
  text-decoration: none;
}
a:hover{
  color: $red;
  text-decoration: none;
}

//HOME PAGE    ADMIN || CONSUMER
// .viewsContainer{
//   background: $off-white;
// }
.adminView{
  // font-size: 2em;
  float: left;
  width: 50%;
  height: 600px;
  background: $white;
  margin-top: 70px;
  // padding-top: 50px;
  padding-bottom: 10px;
  font-family: $display-font;
  letter-spacing: 2px;
  text-align: center;
  font-size: 40em;
  border-right: 2px solid $teal;
}
.consumerView{
  // font-size: 2em;
  float: right;
  width: 50%;
  height: 600px;
  margin-top: 70px;
  // padding-top: 50px;
  background: $white;
  font-family: $display-font;
  letter-spacing: 2px;
  text-align: center;
  font-size: 40em;
}

//SIDEBAR ON ALL PAGES
.consumerContainer{
  // position: relative;
  // height: 100%;

  .sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 1000px;
  padding: 5em 1em 1em;
  background: $teal;
  background: -webkit-linear-gradient(45deg, $teal , $green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(45deg, $teal, $green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(45deg, $teal, $green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(45deg, $teal , $green); /* Standard syntax */
  text-align: center;
  #logo{
    font-family: $display-font;
    color: $teal;
    font-size: 10em;
    text-align: center;
    letter-spacing: -20px;
  }
  #search{
    margin: auto;
    margin-top: 3em;
    text-align: center;
  }
  // Search bar
  // .box {
  //   padding-bottom: 50px; }
  // .container-1{
  //   width: 80%;
  //   vertical-align: middle;
  //   white-space: nowrap;
  //   position: relative;
  //   margin: auto;
  //   margin-top: 20px; }
  // .container-1 input.search{
  //   width: 80%;
  //   height: 50px;
  //   background: #FFF;
  //   border: 2px solid $grey;
  //   font-size: 10pt;
  //   float: left;
  //   color: #63717f;
  //   padding-left: 45px;
  //   -webkit-border-radius: 5px;
  //   -moz-border-radius: 5px;
  //   border-radius: 5px; }
  // .container-1 input.search::-webkit-input-placeholder {
  //    color: #65737e; }
  //
  // .container-1 input.search:-moz-placeholder { /* Firefox 18- */
  //    color: #65737e; }
  //
  // .container-1 input.search::-moz-placeholder {  /* Firefox 19+ */
  //    color: #65737e; }
  //
  // .container-1 input.search:-ms-input-placeholder {
  //    color: #65737e; }
  // .container-1 .icon{
  //   position: absolute;
  //   top: 50%;
  //   margin-left: 17px;
  //   margin-top: 17px;
  //   z-index: 1;
  //   color: #4f5b66; }
  // .container-1 input.search:hover, .container-1 input.search:focus, .container-1 input.search:active{
  //     outline:none; }
  // //http://webdesign.tutsplus.com/tutorials/css-experiments-with-a-search-form-input-and-button--cms-22069

  .categories{
    padding: 2em 0 4em 2.5em;
    font-family: $display-font;
    font-size: 2em;
    line-height: 1.5em;
    text-align: left;
    // text-transform: uppercase;
    a{
      color: #FFF;
    }
    a:hover{
      color: $teal;
    } }
  .cart{
    background: $green;
    border: 2px solid $green;
    // opacity: 0.5;
    border-radius: 6px;
    height: 8em;
    margin: 0 2em 1em 2em;
    padding: 2em;
    color: $teal;
    text-align: left;
    letter-spacing: 1px;
  }
  button{
    background: $teal;
    border: 2px solid $teal;
    border-radius: 20px;
    margin: 16px 5px 0 80px;
    padding: 10px;
    color: $green;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  button:hover{
    background: $green;
    border: 2px solid $teal;
    border-radius: 20px;
    color: $teal;
  } } }

//CONSUMER VIEW PAGE
.consumerContainer{
  @include span(8);
  .sidebar{
    @include span(2);
    margin: 0;
  }
  .consumerGrid{
    @include span(6);
    position: relative;
    top: 0;
    left: 160px;
    padding: 5em 3em 1em 20em;
    margin: 0;
    .itemGrid{
      @include span(2);
      background: #FFF;
      border: 2px solid #FFF;
      border-radius: 5px;
      width: 12em;
      height: 18em;
      margin: 1em;
      padding: 1em;
      text-align: center;
      span{
        font-family: $display-font;
        font-size: 10em;
      }
        .a{
          color: #E42F45;
        }
        .eight{
          color: #189dcc;
        }
        .f{
          color: #D5441C;
        }
        .three{
          color: #7ebf35;
        }
        .c{
          color: #35b9bf;
        }
        .y{
          color: #FDEA2E;
        }


      h3{
        // background: $teal;
        // margin: 0 5px 0 5px;
        padding: 4px;
        color: $teal;
        letter-spacing: 1px;
      }
      h5{
        // background: $teal;
        // margin: 0 5px 0 5px;
        padding-bottom: 8px;
        font-family: $display-font;
        color: $teal;
        // font-style: italic;
        letter-spacing: 2px;
      }
      button{
        background: $grey;
        border: 2px solid $teal;
        border-radius: 20px; //20px
        // border-color: -webkit-linear-gradient(45deg, $teal , $green); /* For Safari 5.1 to 6.0 */
        // border-color: -o-linear-gradient(45deg, $teal, $green); /* For Opera 11.1 to 12.0 */
        // border-color: -moz-linear-gradient(45deg, $teal, $green); /* For Firefox 3.6 to 15 */
        // border-color: linear-gradient(45deg, $teal , $green); /* Standard syntax */

        // border-width: 3px;
        // border-style: solid;
        // -webkit-border-image:
        //   -webkit-gradient(linear, 0 0, 0 100%, from($teal), to(rgba(0, 0, 0, 0))) 1 100%;
        // -webkit-border-image:
        //   -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
        // -moz-border-image:
        //   -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
        // -o-border-image:
        //   -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
        // border-image:
        //   linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;

        // margin: 0 5px 0 5px;
        padding: 10px; //10px
        color: #FFF;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      button:hover{
        background: #FFF;
        border: 2px solid $teal;
        border-radius: 20px;
        color: $teal;
      }
      button:focus {
        outline: 0;
      }
    }
    .productImage{
      background: #FFF;
      border: 2px solid #FFF;
      border-radius: 5px;
      width: 12em;
      height: 18em;
      margin: 1em;
      padding: 1em;
      text-align: center;
      @include span(3);

      span{
        font-family: $display-font;
        font-size: 16em;
      }
        .a{
          color: #E42F45;
        }
    }
    .productDetails{
      @include span(3);

      margin-top: 2em;
      h3{
        color: $teal;
        letter-spacing: 1px;
      }
      h5{
        font-family: $display-font;
        color: $teal;
        // font-style: italic;
        letter-spacing: 2px;
      }
      button{
        background: $teal;
        border: 2px solid $teal;
        border-radius: 20px;
        margin-top: 10em;
        padding: 10px 50px 10px 50px;
        color: #FFF;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      button:hover{
        background: $white;
        border: 2px solid $teal;
        border-radius: 20px;
        color: $teal;
      }
      button:focus {
        outline: 0;
      }
    }
  }
}
