<div class="consumerContainer">
    <nav class="main-nav sidebar" id="main-nav">
        <h1 id="logo">A2Z</h1>
        <h1 class="dashboard">One stop shop for<br>
        Vowels, Consonants, Numbers</h1>

        <!-- <ul class="categories"> -->
          <!-- <input id="search" type="text" placeholder="search..." search> -->
          <!-- <a href="#"><li>Vowels</li></a>
          <a href="#"><li>Consonants</li></a>
          <a href="#"><li>Numbers</li></a>
        </ul> -->

      <div class="cart">
        <p>CART</p>
        <ul>
          <li ng-repeat="cart in a2z.checkout">
            <button class="xBtn" type="button" name="button" ng-click="removeItem($index)">X</button>
            {{cart.qty}} -
            {{cart.name}}
            {{cart.price | currency}}
          </li>
        </ul>
      </div>

      <a href="#/checkout"><button class="checkoutBtn" type="button" name="button">
        <!-- {{cart.qty * cart.price | currency}} -->
        {{total() | currency}}
        | <i class="fa fa-cart-arrow-down fa-lg" aria-hidden="true"></i> Checkout</button></a>

      <br><a href="#/home" class="dashboard"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i> back</a>
    </nav>
</div>

  <ul class="consumerGrid">
    <li class="itemGrid" ng-repeat="product in a2z.products">
      <!-- <a ng-link="[\'consumer\', {id: $product.id}]"> -->
      <a href="#/product" ng-click="viewAZ(product.id)">
        <span class="a">{{product.img}}</span>
        <h3>{{product.name}}</h3>
        <h5>{{product.price | currency}}</h5>
      </a>
      <button ng-click="cartAZ(product.id)" type="button" name="button"><i class="fa fa-cart-plus fa-lg" aria-hidden="true"></i> Add to cart</button>
    </li>
  </ul>
