body{
  background: $white;
  font-family: $font;
  color: $teal;
  font-weight: 400;
}

a{
  color: $teal;
  text-decoration: none;
}
a:hover{
  color: $red;
  text-decoration: none;
}
.adminContainer{
  form{
    width: 70%;
    display: inline-block;
    margin-top: 5%;
    padding-left: 15%;
    p{
      font-size: 1.75em;
    }
  }
}

input{
  border: 2px solid $grey;
  border-radius: 5px;
  width: 50%;
  margin: 5px;
  padding: 1%;
  font-family: $font;
  font-size: 14px;
  .desc{
    height: 20%;
} }
.adminGrid{
  position: relative;
  top: 0;
  left: 160px;
  padding: 5em 3em 1em 20em;
  margin: 0;

  .itemGrid{
    background: #FFF;
    border: 2px solid #FFF;
    border-radius: 5px;
    width: 15em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    display: inline-block;

    span{
      font-family: $display-font;
      font-size: 4em;
      color: $dark-grey;
    }
      span:hover{
        color: $red;
      }

    h3{
      padding: 4px;
      color: $teal;
      letter-spacing: 1px;
      display: inline-block;
    }
    button{
      margin-left: 4em;
    } } }
