// @import "partials/sidebar";



body{
  background: $white;
  font-family: $font;
  color: $teal;
  font-weight: 400;
}

a{
  color: $teal;
  text-decoration: none;
}
a:hover{
  color: $red;
  text-decoration: none;
}


.consumerGrid{
  position: relative;
  top: 0;
  left: 160px;
  padding: 5em 3em 1em 20em;
  margin: 0;

  .productImage{
  background: #FFF;
  border: 2px solid #FFF;
  border-radius: 5px;
  width: 12em;
  height: 18em;
  margin: 1em;
  padding: 1em;
  text-align: center;

  span{
    font-family: $display-font;
    font-size: 16em;
  }
    .a{
      color: #E42F45;
    }
  }

.productDetails{
  margin-top: 2em;

  h3{
    color: $teal;
    letter-spacing: 1px;
  }
  h5{
    font-family: $display-font;
    color: $teal;
    // font-style: italic;
    letter-spacing: 2px;
  }
  button{
    background: $teal;
    border: 2px solid $teal;
    border-radius: 20px;
    margin-top: 10em;
    padding: 10px 50px 10px 50px;
    color: #FFF;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  button:hover{
    background: $white;
    border: 2px solid $teal;
    border-radius: 20px;
    color: $teal;
  }
  button:focus {
    outline: 0;
  } } }
