body{
  background: $white;
  font-family: $font;
  color: $teal;
  font-weight: 400;
}

a{
  color: $teal;
  text-decoration: none;
}
a:hover{
  color: $red;
  text-decoration: none;
}

.viewsContainer{
  margin-top: 10em;

  .box{
    width: 250px;
    height: 250px;
    margin: auto;
    padding: 1em;
    background: $white;
    border: 10px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, $teal 0%, $purple 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, $teal 0%, $purple 100%);
    border-image: linear-gradient(to bottom right, $teal 0%, $purple 100%);
    border-image-slice: 1;
    // http://www.hongkiat.com/blog/css-gradient-border/
  }
  .adminView{
    float: left;
    width: 50%;
    background: $white;
    margin-top: 60px;
    font-family: $display-font;
    letter-spacing: 2px;
    text-align: center;
    font-size: 4em; //was 40em
    border-right: 2px solid $teal;
  }
  .consumerView{
    float: right;
    width: 50%;
    margin-top: 60px;
    background: $white;
    font-family: $display-font;
    letter-spacing: 2px;
    text-align: center;
    font-size: 4em; //was 40em
  } }
